/* Group field labels, e.g. Picture button Title and URL */
label.col-form-label {
  position: relative;
  width: auto;
  height: auto;
  margin-right: 15px;
}

// Align all options to left.
.form-check-inline {
  justify-content: start !important;
}


/* EDIT BLOCK FORM */
&#page-mod-website-edit-block {
  #fgroup_id_typearray {
    padding: 0;
    font-size: 18px;
    .col-form-label {
      padding-top: 0;
    }
  }
  #fitem_id_content, 
  #fitem_id_buttonurl, 
  #fitem_id_buttonfile,
  #fitem_id_buttontitle, 
  #fgroup_id_buttonlinktypegroup, 
  #fgroup_id_includepicturegroup,
  #fitem_id_buttonpicture, 
  #fitem_id_visibility, 
  #fgroup_id_buttonar, 
  .fdescription.required {
    display: none;
  }
  form[data-blocktype="picturebutton"] {
    #fitem_id_buttontitle, 
    #fgroup_id_buttonlinktypegroup, 
    #fitem_id_visibility, 
    #fgroup_id_buttonar {
      display: flex;
    }
    &[data-linktype="url"] {
      #fitem_id_buttonurl, 
      #fgroup_id_includepicturegroup {
        display: flex;
      }
    }
    &[data-linktype="file"] {
      #fitem_id_buttonfile, 
      #fgroup_id_includepicturegroup {
        display: flex;
      }
    }
    &[data-includepicture="1"] {
      #fitem_id_buttonpicture {
        display: flex;
      }
    }
  }
  form[data-blocktype="editor"] {
    #fitem_id_content,
    #fitem_id_visibility, 
    #fgroup_id_buttonar {
      display: flex;
    }
  }
}


/* Section layout */
#fgroup_id_layoutar {
  img {
    max-width: 170px !important;
    max-height: 100px !important;
  }
  label.form-check-inline.form-check-label.fitem.w-100 {
    display: block;
    margin-bottom: 30px;
  }
}

// The menujson field.
#fitem_id_menujson {
  display: none;
}
#fitem_id_menujson>div{
  display: none;
}
#fitem_id_menujson.has-danger {
  display: block;
  height: 22px;
  overflow: hidden;
}


select {
  width: 100%;
}