{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_website/edit_menu

    A single section.
}}
<div class="edit-menu-wrap">

  <div class="left">
    <div class="active">
      <h4>Menu</h4>
      {{#menu}}
        <div class="menu-list list-group nested-sortable {{classes}}">
            {{>mod_website/_edit_menu_items}}
        </div>
      {{/menu}}
    </div>
  </div>

  <div class="right">
    
      {{#unusedpages}}<div class="inactive">
      <h4>Inactive pages</h4>
      {{#unusedpages}}
        <div class="menu-list list-group nested-sortable {{classes}}">
            {{>mod_website/_edit_menu_items}}
        </div>
      {{/unusedpages}}
    </div>
      {{/unusedpages}}

    <div class="all">
      <h4>All pages</h4>
      {{#allpages}}
        <div class="menu-list list-group nested-sortable {{classes}}">
          {{>mod_website/_edit_menu_items}}
        </div>
      {{/allpages}}
    </div>

  </div>

</div>

<style>
.edit-menu-wrap {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 65%;
  padding-right: 10px;
}
.right {
  width: 35%;
}
.menu-list {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px dashed #ccc;
}
.list-group {
  border-radius: 0;
}
.list-group-item {
  background-color: #e6e6e6;
  padding: 6px 13px;
  border: 1px solid rgba(0,0,0,.125) !important;
  margin-bottom: 5px;
}
.list-group-item .page-details {
  display: flex;
  justify-content: space-between;
}
.list-group-item .item-options {
    display: flex;
    align-items: center;
    gap: 10px;
}
.visibility-visible, .visibility-hidden {
  display: block;
}
.list-group-item[data-hidden="0"] > i {
  display: none;
}
.list-group-item[data-hidden="1"] > .page-details .visibility-visible {
  display: none;
}
.list-group-item[data-hidden="0"] > .page-details .visibility-hidden {
  display: none;
}
/* Only 3 levels permitted */
.menu-list > .list-group-item > .nested-sortable > .list-group-item > .nested-sortable > .list-group-item > .nested-sortable {
  display: none;
}
/* Only 3 level for inactive and all */
.inactive .menu-list > .list-group-item > .nested-sortable > .list-group-item > .nested-sortable, .all .menu-list > .list-group-item > .nested-sortable > .list-group-item > .nested-sortable {
  display: none;
}
/* 2nd level */
.menu-list .list-group-item > .nested-sortable > .list-group-item {
  background-color: #cccccc;
}
.menu-list > .list-group-item:not(.reordering) > .nested-sortable > .list-group-item:first-child {
  margin-top: 5px;
}
.menu-list.sorting > .list-group-item:not(.reordering) > .nested-sortable {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 15px;
  border: 1px dashed #ccc;
}
/* 3rd level */
.menu-list .list-group-item > .nested-sortable > .list-group-item > .nested-sortable > .list-group-item {
  background-color: #aaa;
}
.menu-list > .list-group-item:not(.reordering) > .nested-sortable > .list-group-item  > .nested-sortable > .list-group-item:first-child {
  margin-top: 10px;
}
.menu-list.sorting > .list-group-item:not(.reordering) > .nested-sortable > .list-group-item  > .nested-sortable {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px dashed #aaa;
}

/* Only 2 levels permitted */
/*.menu-list > .list-group-item > .nested-sortable > .list-group-item > .nested-sortable {
  display: none;
}
/* Only 2 level for inactive and all */
/*.inactive .menu-list > .list-group-item > .nested-sortable , .all .menu-list > .list-group-item > .nested-sortable {
  display: none;
}*/


/* Hide/show homepage option depending on whether item is homepage or not */
.list-group-item[data-ishomepage="1"] .item-options .promote-to-homepage {
  display: none;
}
.list-group-item[data-ishomepage="0"] .item-options .current-homepage {
  display: none;
}
.list-group-item[data-ishomepage="1"] .item-options .current-homepage {
  display: block;
}
/* Hide/show visibility option depending on current state */
.list-group-item[data-ishomepage="1"] .item-options .option-visibility {
  display: none;
}
/* Hide/show target option depending on current state */
.list-group-item[data-target="blank"] .item-options .target[data-target="blank"] {
  display: none;
}
.list-group-item .item-options .target[data-target="self"] {
  display: none;
}
.list-group-item[data-target="blank"] .item-options .target[data-target="self"] {
  display: block;
}
/* Some options only apply to active list */
.inactive .list-group-item .item-options .target, .all .list-group-item .item-options .target {
  display: none !important;
}
</style>