{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_website/site_pageheader

    The header.
}}

<div class="page-header editzone nopadding {{#bannerimage}}has-banner{{/bannerimage}}" 
  {{#caneditpage}} data-formurl="{{embedded_editpageurl}}" {{/caneditpage}}
  {{#bannerimage}} style="background-image: url('{{path}}');" {{/bannerimage}} >
  {{#page.hidden}}
    <div class="alert-warning p-3">{{#str}} pagehidden, mod_website {{/str}}</div>
  {{/page.hidden}}
  <a data-formurl="{{embedded_pagepermissionsurl}}" href="{{pagepermissionsurl}}" class="btn-edit-permissions editoption scaleonhover" title="Page permissions">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
  </a>
  <h1 class="title">
    {{title}}
  </h1>
</div>